/**
* Collier Crisanti & Travis Guyer
* ITEC 325 Project
* This file is for the css for the website.
*/
  <style>
    label,
    textarea {
      display:inline-block;
      vertical-align:top;
      }

    .important {
      border-style:solid;
      border-color:green;
      border-width:5px;
      text-align:center;
      }

    .additional-info {
      font-size:smaller;
      font-style:italic;
      }

    .error-message {
      color:red;
      font-size:smaller;
      font-style:italic;
      }

    fieldset {
      font-size: smaller;
      }

    table, th, td {
      border-collapse: collapse;
	  border-color: black;
      }
    .vspace {
       margin-top: 50px;
       }
    .motto {
       font-style: italic;
      }
   .radio-scale td {
       text-align: center;
       border: 1px solid black;
    }
	.subtext {
		font-size: smaller;
		font-style: italic;
	}
	
	/* Start of Collier's CSS
	*/
	/*
	*Got this css from http://stackoverflow.com/questions/7055393/center-image-using-text-align-center
	*/
	img{
		display: block;
		margin: 0 auto;
	}
	
	body{
		background-color: gray;
	}
    </style>	